doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js' integrity='sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='/stylesheets/addStudent.css')
    title Update Student


  nav.nav 
    .image
      img(src='/images/student.png')
    .links 
      ul.navList 
        li
          a(href='/') Home 

  body
    div(class='form_wrapper')
      div(class='form_container')
        div(class='title_container')
          h2 Add Student
        .row.clearfix
          div
            form(action=`/student/${student._id}` method='POST')
              div(class='input_field')
                span
                  i.fas.fa-id-card(aria-hidden='true')
                input(type='text' name='id' value=student.id placeholder='ID' required)
              div(class='input_field')
                span
                  i.fa.fa-user(aria-hidden='true')
                input(type='text' name='fullName' value=student.fullName placeholder='Full Name' required)
              div(class='input_field')
                span
                  i.fa.fa-envelope(aria-hidden='true')
                input(type='email' name='email' value=student.email placeholder='Email' required)
              div(class='input_field')
                span
                  i.fas.fa-university(aria-hidden='true')
                input(type='text' name='faculty' value=student.faculty placeholder='Faculty' required)
              div(class='input_field')
                label(for='birthDate') Birth Date: 
                br
                input(type='date' name='birthDate' value=moment(student.birthDate).format('YYYY-MM-DD') required)
              input.button(type='submit' value='Update Student')
